<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/urls">Url Shortener</a>
      </div>
      <% if current_user %>
        <form class="nav navbar-form navbar-right" action="/sessions" method="post">
          <input type="hidden" name="_method" id="" value="DELETE" >
          <button type="submit" class="btn btn-primary">Logout</button>
        </form>
      <% end %>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/users/new">Sign Up</a></li>
          <% if current_user %>
            <li>
              <a href="users/<%= current_user.id%>"><%= current_user.username %></a>
            </li>
          <% else %>
            <li><a href="sessions/new">Sign In</a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <%= yield %>
</body>
</html>
